# dependencies
node_modules/

# package managers
package-lock.json
yarn.lock

# IDEs and editors
.vscode/settings.json

# user generated
build/
coverage/
*.log

config.json
config.*.json
!config.example.json
