{
    "openapi": "3.0.3",
    "info": {
        "title": "RimWorld Mod Catalogue API",
        "contact": {
            "name": "GitHub Repository",
            "url": "https://github.com/NachoToast/RimWorldModCatalogue.git"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/main/LICENSE"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://rimworld.nachotoast.com",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:{port}",
            "description": "Development Server",
            "variables": {
                "port": {
                    "default": "5000"
                }
            }
        },
        {
            "url": "http://ntgc.ddns.net:{port}",
            "description": "Development Server (Alternate)",
            "variables": {
                "port": {
                    "default": "5000"
                }
            }
        }
    ],
    "paths": {
        "/": {
            "get": {
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/perPage"
                    },
                    {
                        "$ref": "#/components/parameters/sortBy"
                    },
                    {
                        "$ref": "#/components/parameters/sortDirection"
                    },
                    {
                        "$ref": "#/components/parameters/tagsInclude"
                    },
                    {
                        "$ref": "#/components/parameters/tagsExclude"
                    },
                    {
                        "$ref": "#/components/parameters/tagsIncludeChain"
                    },
                    {
                        "$ref": "#/components/parameters/dlcsInclude"
                    },
                    {
                        "$ref": "#/components/parameters/dlcsExclude"
                    },
                    {
                        "$ref": "#/components/parameters/dlcsIncludeChain"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/dependantsOf"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of mods matching the search criteria.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "totalItemCount": {
                                            "type": "integer",
                                            "externalDocs": {
                                                "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/f9c42fc069f078ef1488d2de09a97121ab890f55/server/src/types/shared/Page.ts#L10-L11",
                                                "description": "src/types/shared/Page.ts -> WithPagination.totalItemCount"
                                            },
                                            "description": "Total number of relevant items across all pages."
                                        },
                                        "items": {
                                            "type": "array",
                                            "externalDocs": {
                                                "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/f9c42fc069f078ef1488d2de09a97121ab890f55/server/src/types/shared/Page.ts#L13",
                                                "description": "src/types/shared/Page.ts -> WithPagination.items"
                                            },
                                            "items": {
                                                "$ref": "#/components/schemas/Mod"
                                            }
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": ["totalItemCount", "items"]
                                }
                            },
                            "text/html": {}
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "Basic API information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "startTime": {
                                            "$ref": "#/components/schemas/ISOString"
                                        },
                                        "commit": {
                                            "type": "string",
                                            "description": "The commit hash of the current build.",
                                            "example": "cd5f368b0d5dee38b53d6fbc3248bec485887a7b"
                                        },
                                        "receivedRequest": {
                                            "$ref": "#/components/schemas/ISOString"
                                        },
                                        "estimatedModCount": {
                                            "type": "integer",
                                            "description": "The estimated number of mods in the database."
                                        },
                                        "lastUpdate": {
                                            "type": "object",
                                            "nullable": true,
                                            "properties": {
                                                "timestamp": {
                                                    "$ref": "#/components/schemas/ISOString"
                                                },
                                                "numInserted": {
                                                    "type": "integer",
                                                    "description": "The number of mods inserted in the last update."
                                                },
                                                "numUpdated": {
                                                    "type": "integer",
                                                    "description": "The number of mods updated in the last update."
                                                },
                                                "numErrored": {
                                                    "type": "integer",
                                                    "description": "The number of mods that errored in the last update."
                                                },
                                                "numSkipped": {
                                                    "type": "integer",
                                                    "description": "The number of mods that were skipped over in the last update."
                                                }
                                            },
                                            "additionalProperties": false,
                                            "required": [
                                                "timestamp",
                                                "numInserted",
                                                "numUpdated",
                                                "numErrored",
                                                "numSkipped"
                                            ]
                                        }
                                    },
                                    "additionalProperties": false,
                                    "required": ["startTime", "commit", "receivedRequest", "estimatedModCount"]
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/mods/{id}": {
            "parameters": [
                {
                    "in": "path",
                    "name": "id",
                    "required": true,
                    "schema": {
                        "$ref": "#/components/schemas/ModId"
                    }
                }
            ],
            "get": {
                "responses": {
                    "200": {
                        "description": "The mod with the given ID.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Mod"
                                }
                            },
                            "text/html": {}
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "404": {
                        "description": "The mod with the given ID does not exist."
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/ip": {
            "get": {
                "description": "Returns IP address of the requester, useful for [configuring proxies](https://www.npmjs.com/package/express-rate-limit#:~:text=Troubleshooting%20Proxy%20Issues).",
                "responses": {
                    "200": {
                        "description": "The IP address of the client. May be `::1` if viewing from the same network.",
                        "content": {
                            "text/plain": {
                                "example": "123.123.123.123"
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    },
                    "429": {
                        "$ref": "#/components/responses/RateLimited429"
                    }
                }
            }
        },
        "/spec": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OpenAPI spec.",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    }
                }
            }
        },
        "/api-docs": {
            "get": {
                "responses": {
                    "200": {
                        "description": "This document.",
                        "content": {
                            "text/html": {}
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequestError400"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ISOString": {
                "type": "string",
                "externalDocs": {
                    "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/f9c42fc069f078ef1488d2de09a97121ab890f55/server/src/types/shared/Utility.ts#L3-L10",
                    "description": "src/types/shared/Utility.ts -> ISOString"
                },
                "description": "A string in ISO format, used to store dates.",
                "example": "2023-05-13T01:39:31.199Z'"
            },
            "ModSortOptions": {
                "type": "integer",
                "externalDocs": {
                    "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/f9c42fc069f078ef1488d2de09a97121ab890f55/server/src/types/shared/ModSortOptions.ts",
                    "description": "src/types/shared/ModSortOptions.ts"
                },
                "minimum": 0,
                "maximum": 8
            },
            "ModDLCs": {
                "type": "integer",
                "externalDocs": {
                    "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/f9c42fc069f078ef1488d2de09a97121ab890f55/server/src/types/shared/ModDLCs.ts",
                    "description": "src/types/shared/ModDLCs.ts"
                },
                "minimum": 0,
                "maximum": 7
            },
            "ModTags": {
                "type": "integer",
                "externalDocs": {
                    "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/f9c42fc069f078ef1488d2de09a97121ab890f55/server/src/types/shared/ModTags.ts",
                    "description": "src/types/shared/ModTags.ts"
                },
                "minimum": 0,
                "maximum": 131071
            },
            "ModAuthor": {
                "type": "object",
                "externalDocs": {
                    "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/f9c42fc069f078ef1488d2de09a97121ab890f55/server/src/types/shared/ModAuthor.ts",
                    "description": "src/types/shared/ModAuthor.ts"
                },
                "description": "Represents the author of a mod.",
                "properties": {
                    "url": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "avatar": {
                        "type": "string"
                    }
                },
                "additionalProperties": false,
                "required": ["url", "name", "avatar"]
            },
            "ModId": {
                "type": "string",
                "externalDocs": {
                    "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/f9c42fc069f078ef1488d2de09a97121ab890f55/server/src/types/shared/Utility.ts#L12-L18",
                    "description": "src/types/shared/Utility.ts -> ModId"
                },
                "description": "The unique identifier of a mod, this can be used to go to its Steam page: `https://steamcommunity.com/sharedfiles/filedetails/?id=${id}`"
            },
            "Mod": {
                "type": "object",
                "externalDocs": {
                    "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/f9c42fc069f078ef1488d2de09a97121ab890f55/server/src/types/shared/Mod.ts",
                    "description": "src/types/shared/Mod.ts"
                },
                "properties": {
                    "_id": {
                        "$ref": "#/components/schemas/ModId"
                    },
                    "thumbnail": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "ratingStars": {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 5
                    },
                    "ratingCount": {
                        "type": "integer"
                    },
                    "authors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ModAuthor"
                        }
                    },
                    "tags": {
                        "$ref": "#/components/schemas/ModTags"
                    },
                    "dlcs": {
                        "$ref": "#/components/schemas/ModDLCs"
                    },
                    "size": {
                        "type": "number",
                        "description": "Size in Megabytes."
                    },
                    "posted": {
                        "$ref": "#/components/schemas/ISOString"
                    },
                    "updated": {
                        "$ref": "#/components/schemas/ISOString"
                    },
                    "catalogueLastUpdated": {
                        "$ref": "#/components/schemas/ISOString"
                    },
                    "statsVisitors": {
                        "type": "integer"
                    },
                    "statsSubscribers": {
                        "type": "integer"
                    },
                    "statsFavourites": {
                        "type": "integer"
                    },
                    "dependencyIds": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ModId"
                        }
                    },
                    "dependencyNames": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "additionalProperties": false,
                "required": [
                    "_id",
                    "thumbnail",
                    "title",
                    "description",
                    "ratingStars",
                    "ratingCount",
                    "authors",
                    "tags",
                    "dlcs",
                    "size",
                    "posted",
                    "catalogueLastUpdated",
                    "statsVisitors",
                    "statsSubscribers",
                    "statsFavourites",
                    "dependencyIds",
                    "dependencyNames"
                ]
            },
            "SearchChainOptions": {
                "type": "integer",
                "externalDocs": {
                    "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/2722213ea24edd0de4f06e7cd27046af819eeb34/server/src/types/shared/ModSearchOptions.ts#L7-L10",
                    "description": "src/types/shared/ModSearchOptions.ts -> SearchChainOptions"
                },
                "enum": [0, 1],
                "description": "0 for \"and\", 1 for \"or\"."
            },
            "SiteErrorObject": {
                "type": "object",
                "externalDocs": {
                    "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/6cafe81c393c8e9d0fc2059e4a4fed7f5b419144/server/src/errors/SiteError.ts#L25-L30",
                    "description": "src/errors/SiteError.ts -> SiteErrorObject"
                },
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    }
                },
                "required": ["title", "description"]
            }
        },
        "responses": {
            "BadRequestError400": {
                "description": "Error thrown when a request is malformed or otherwise an invalid shape. This can also be thrown when the 'origin' header of a request is present and not in the allowed origins whitelist (CORS error).",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "externalDocs": {
                                "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/e3b79447659626c75c4cf712ee9d43b21e23b94f/server/src/errors/CorsError.ts",
                                "description": "src/errors/CorsError.ts"
                            },
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/SiteErrorObject"
                                }
                            ],
                            "properties": {
                                "additionalData": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "externalDocs": {
                                            "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/6cafe81c393c8e9d0fc2059e4a4fed7f5b419144/server/src/middleware/validatorErrorHandler.ts#L8-L16",
                                            "description": "src/middleware/validatorErrorHandler.ts -> ValidationErrorItem[]"
                                        },
                                        "properties": {
                                            "path": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "errorCode": {
                                                "type": "string"
                                            }
                                        },
                                        "required": ["path", "message"],
                                        "additionalProperties": false
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "RateLimited429": {
                "description": "Too many requests, rate limited.",
                "headers": {
                    "RateLimit-Limit": {
                        "required": true,
                        "description": "Maximum number of requests per time window.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    "RateLimit-Remaining": {
                        "required": true,
                        "description": "Number of requests remaining in this time window.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    "RateLimit-Reset": {
                        "required": true,
                        "description": "Number of seconds until this time window ends.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    "Retry-After": {
                        "required": true,
                        "description": "Length of time window in seconds.",
                        "schema": {
                            "type": "number"
                        }
                    }
                }
            }
        },
        "parameters": {
            "page": {
                "in": "query",
                "name": "page",
                "required": false,
                "schema": {
                    "type": "integer",
                    "externalDocs": {
                        "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/f9c42fc069f078ef1488d2de09a97121ab890f55/server/src/types/shared/Page.ts#L2-L3",
                        "description": "src/types/shared/Page.ts -> PaginationParams.page"
                    },
                    "description": "Page number, starts at 0.",
                    "minimum": 0
                },
                "example": 0
            },
            "perPage": {
                "in": "query",
                "name": "perPage",
                "required": false,
                "schema": {
                    "type": "integer",
                    "externalDocs": {
                        "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/f9c42fc069f078ef1488d2de09a97121ab890f55/server/src/types/shared/Page.ts#L5-L6",
                        "description": "src/types/shared/Page.ts -> PaginationParams.perPage"
                    },
                    "description": "Maximum number of results to show per page.",
                    "minimum": 0,
                    "maximum": 100
                },
                "example": 20
            },
            "sortBy": {
                "in": "query",
                "name": "sortBy",
                "required": false,
                "schema": {
                    "$ref": "#/components/schemas/ModSortOptions"
                },
                "example": 0
            },
            "sortDirection": {
                "in": "query",
                "name": "sortDirection",
                "required": false,
                "schema": {
                    "type": "integer",
                    "externalDocs": {
                        "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/2722213ea24edd0de4f06e7cd27046af819eeb34/server/src/types/shared/ModSearchOptions.ts#L26-L27",
                        "description": "src/types/shared/ModSearchOptions.ts -> ModSearchOptions.sortDirection"
                    },
                    "description": "1 for ascending, -1 for descending.",
                    "enum": [1, -1]
                },
                "example": 1
            },
            "tagsInclude": {
                "in": "query",
                "name": "tagsInclude",
                "required": false,
                "schema": {
                    "$ref": "#/components/schemas/ModTags"
                },
                "example": 0
            },
            "tagsExclude": {
                "in": "query",
                "name": "tagsExclude",
                "required": false,
                "schema": {
                    "$ref": "#/components/schemas/ModTags"
                },
                "example": 0
            },
            "tagsIncludeChain": {
                "in": "query",
                "name": "tagsIncludeChain",
                "required": false,
                "schema": {
                    "$ref": "#/components/schemas/SearchChainOptions"
                },
                "example": 0
            },
            "dlcsInclude": {
                "in": "query",
                "name": "dlcsInclude",
                "required": false,
                "schema": {
                    "$ref": "#/components/schemas/ModDLCs"
                },
                "example": 0
            },
            "dlcsExclude": {
                "in": "query",
                "name": "dlcsExclude",
                "required": false,
                "schema": {
                    "$ref": "#/components/schemas/ModDLCs"
                },
                "example": 0
            },
            "dlcsIncludeChain": {
                "in": "query",
                "name": "dlcsIncludeChain",
                "required": false,
                "schema": {
                    "$ref": "#/components/schemas/SearchChainOptions"
                },
                "example": 0
            },
            "search": {
                "in": "query",
                "name": "search",
                "required": false,
                "schema": {
                    "type": "string",
                    "externalDocs": {
                        "url": "https://github.com/NachoToast/RimWorldModCatalogue/blob/2722213ea24edd0de4f06e7cd27046af819eeb34/server/src/types/shared/ModSearchOptions.ts#L34-L40",
                        "description": "src/types/shared/ModSearchOptions.ts -> ModSearchOptions.search"
                    },
                    "maxLength": 100,
                    "description": "If provided, sort direction will be based on title relevance instead of the provided sort direction.\n\n- Case insensitive.\n- Sort direction will also be ignored."
                }
            },
            "dependantsOf": {
                "in": "query",
                "name": "dependantsOf",
                "required": false,
                "schema": {
                    "$ref": "#/components/schemas/ModId"
                }
            }
        }
    }
}
